@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap');

body {
    background-color: lightgrey;
    font-family: 'Grape Nuts', cursive;
    font-size: 15pt;
}

ul {
    padding-inline-start: 0;
}

.title {
    text-align: center;
}

.main {
    background: whitesmoke;
    border: 1px solid black;
    width: 50%;
    margin: auto;
}

#add-item {
    border: 1px solid black;
}

.input {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0 8px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.label {
    margin: 10px;
}

#list {
    flex-direction: column;
    display: flex;
}

#list > li{
    list-style-type: none;
    margin: 10px auto;
    text-align: center;
}

#list div {
    margin-bottom: 10px;
    text-align: center;
}